<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Панель управления</title>
    <link rel="shortcut icon" href="static/img/mai_logo.gif" type="image/gif">
</head>
<body class="container">
    {% block content %}{% endblock %}
</body>
</html>