{% extends "base.html" %}

{% block content %}
    <form class="login-container">
        <input type="range" min="0" max="100" step="1" value="50" id="j1">
        <output id="j1-out" for="j1">50</output>
        <input type="range" min="0" max="100" step="1" value="50" id="j2">
        <output id="j2-out" for="j2">50</output>
        <input type="range" min="0" max="100" step="1" value="50" id="j3">
        <output id="j3-out" for="j3">50</output>
        <input type="range" min="0" max="100" step="1" value="50" id="j4">
        <output id="j4-out" for="j4">50</output>
        <input type="range" min="0" max="100" step="1" value="50" id="j5">
        <output id="j5-out" for="j5">50</output>
        <input type="range" min="0" max="100" step="1" value="50" id="j6">
        <output id="j6-out" for="j6">50</output>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(function()
        {
            var j1, j2, j3, j4, j5, j6;
            $("#j1").change(function()
            {
                j1 = $(this);
                j1
                .next("#j1-out")
                .text(j1.val());
            })
            $("#j2").change(function()
            {
                j2 = $(this);
                j2
                .next("#j2-out")
                .text(j2.val());
            })
            $("#j3").change(function()
            {
                j3 = $(this);
                j3
                .next("#j3-out")
                .text(j3.val());
            })
            $("#j4").change(function()
            {
                j4 = $(this);
                j4
                .next("#j4-out")
                .text(j4.val());
            })
            $("#j5").change(function()
            {
                j5 = $(this);
                j5
                .next("#j5-out")
                .text(j5.val());
            })
            $("#j5").change(function()
            {
                j5 = $(this);
                j5
                .next("#j5-out")
                .text(j5.val());
            })
            .trigger('change');
            $("#j6").change(function()
            {
                j6 = $(this);
                j6
                .next("#j6-out")
                .text(j6.val());
            })
            .trigger('change');
        });
    </script>
{% endblock %}